html {
    font-size: 16px;
}

html,
body {
    height: 100%;
}

html,
body,
nav,
header,
main,
aside,
footer,
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #563192;
    padding: 10px;
    grid-area: nav;
}

main {
    background-color: #ededa0;
    padding: 10px;
    grid-area: main;
}

header {
    background-color: #e92121;
    padding: 10px;
    grid-area: header;
    
}

aside {
    background-color: #da6f57;
    padding: 10px;
    grid-area: aside;
}

footer {
    background-color: #2886d8;
    padding: 10px;
    grid-area: footer;
}

#navigation a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    margin: 0px;
    padding: 0px;
    
}
#navigation ul{
    position: sticky;
    left: 0px;
  
}

#navigation li {
    display: block;
    padding: 1rem;
    margin-top: 1rem;
    background-color: yellow;
    /*width: 10%;*/
    text-align: center;
    
}

@media screen and (min-width: 1000px) {
    body {
        display: grid;
        background-color: darkblue;
        grid-template-columns: 10% 40% 40% 10%;
        grid-template-rows: 10% 40% 40% 10%;
        grid-template-areas: "nav header header header" "nav main main aside" "nav main main aside" "footer footer footer footer";
    }
}